:root {
    // colors
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #6c757d;
  --dark-gray: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
//   links
  --link-color: #0d6efd;
  --link-hover-color: #0a58ca;

//   gradients&Backgrounds
  --generic-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bgcolor-gradient: linear-gradient(-20deg, #757f9a, #d7dde8);

//   fonts
  --font-family-title: 'Merriweather Sans', sans-serif;
  --font-family-text: 'Play', sans-serif;
  --font-family-numbers: 'Rajdhani', sans-serif;
  --font-family-main: 'Open Sans', sans-serif;
  --font-family-alt: 'Nunito', sans-serif;
  --font-family-stock: 'Saira Semi Condensed', sans-serif;

  --font-size-body: 1rem;
  --fontweight-main: 400;
  --line-height: 1.5;

//   borders
  --border-width: 1px;
  --border-solid: solid;
  --border-color: #dee2e6;
  --border-color-translucent: rgba(0, 0, 0, 0.175);
  --border-radius-main: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;
  --border-radius-circle: 50%:

}